<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1920, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="photo">
    <script id="anima-load-script" src="load.js"></script>
    <script id="anima-hotspots-script" src="hotspots.js"></script>
    <script id="anima-overrides-script" src="overrides.js"></script>
    <script src="https://animaapp.s3.amazonaws.com/js/timeline.js"></script>
    <link rel="stylesheet" href="./static/home.css">
</head>
<body style="margin: 0;background: #ffffff;">
    <input type="hidden" id="anPageName" name="page" value="homepage">
    <div class="container-center-horizontal">
        <div class="homepage screen" data-id="16:22">
            <div class="bg-zYNucu" data-id="16:23">
                <img class="image-1-wSRXX1" data-id="16:24" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" anima-src="https://cdn.animaapp.com/projects/670649d0e3881df73662418a/releases/670accd33327fca10fb360f9/img/image-1.png" alt="image 1">
                <div class="rectangle-1-wSRXX1" data-id="16:25"></div>
            </div>
            <div class="group-3-zYNucu" data-id="32:14">
                <h1 class="title-xna5Rn" data-id="16:26">Soulz</h1>
                <img class="logo-1-xna5Rn" data-id="16:27" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" anima-src="https://cdn.animaapp.com/projects/670649d0e3881df73662418a/releases/670af70258068f6b7755a10c/img/logo-1@2x.png" alt="logo 1">
            </div>
            <div class="edit-profile-zYNucu" data-id="17:54">Edit Profile</div>
            <div class="group-1-zYNucu" data-id="21:59">
                <!-- <div class="rectangle-6" data-id="21:57"></div> -->
                <form action="/meet/<{{ name1 }}>">
                <input type="submit" value="MEET NEW PEOPLE" class="meet-new-people-CvAIYx rectangle-6" data-id="21:58">
                </form>
            </div>
            <div class="group-2-zYNucu" data-id="21:60">
                <form action="/chat" method="POST">
                    <input type="submit" value="CHATS" class="chats-QUHdAM rectangle-6" data-id="21:58">
                    </form>
                <!-- <div class="rectangle-6" data-id="21:61"></div> -->
            </div>
            <img class="image-removebg-preview-1-zYNucu" data-id="30:10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" anima-src="https://cdn.animaapp.com/projects/670649d0e3881df73662418a/releases/670af70258068f6b7755a10c/img/image-removebg-preview-1.png" alt="image-removebg-preview 1">
            <img class="x5219608-removebg-preview-1-zYNucu" data-id="32:13" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" anima-src="https://cdn.animaapp.com/projects/670649d0e3881df73662418a/releases/670af70258068f6b7755a10c/img/5219608-removebg-preview-1.png" alt="5219608-removebg-preview 1">
        </div>
    </div>
    <script src="launchpad-js/launchpad-banner.js" async></script>
    <script defer src="https://animaapp.s3.amazonaws.com/static/restart-btn.min.js"></script>
</body>
</html>
