<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1920, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="photo">
    <script id="anima-load-script" src="load.js"></script>
    <script id="anima-hotspots-script" src="hotspots.js"></script>
    <script id="anima-overrides-script" src="overrides.js"></script>
    <script src="https://animaapp.s3.amazonaws.com/js/timeline.js"></script>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <div class="container-center-horizontal">
        <div class="main screen" data-id="1:2">
            <div class="bg-aygV59" data-id="4:16">
                <img class="image-1-wWTSWe" data-id="3:3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" anima-src="https://cdn.animaapp.com/projects/670649d0e3881df73662418a/releases/670accd33327fca10fb360f9/img/image-1.png" alt="image 1">
                <div class="rectangle-1-wWTSWe" data-id="4:6"></div>
            </div>
            <div class="rectangle-2-aygV59" data-id="4:17"></div>
            <div class="rectangle-3-aygV59" data-id="4:18"></div>
            <div class="login-aygV59" data-id="4:13"><a href = "/login" method="GET">Login</a></div>
            <div class="register-aygV59" data-id="4:14"><a href = "/signup" method="GET">Sign up</a></div>
            <h1 class="title-aygV59" data-id="4:5">Dating is a Privilege.</h1>
            <div class="text-aygV59" data-id="4:12">
                <div class="about-us-b5flLD inknutantiqua-bold-white-23px" data-id="4:8">ABOUT US</div>
                <div class="faq-b5flLD inknutantiqua-bold-white-23px" data-id="4:9">FAQ</div>
                <div class="pricing-b5flLD inknutantiqua-bold-white-23px" data-id="4:10">PRICING</div>
                <div class="contact-us-b5flLD inknutantiqua-bold-white-23px" data-id="4:11">CONTACT US</div>
            </div>
            <div class="soulz-aygV59" data-id="4:7">Soulz</div>
            <img class="logo-1-aygV59" data-id="5:25" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" anima-src="https://cdn.animaapp.com/projects/670649d0e3881df73662418a/releases/670accd33327fca10fb360f9/img/logo-1@2x.png" alt="logo 1">
        </div>
    </div>
    <script src="launchpad-js/launchpad-banner.js" async></script>
    <script defer src="https://animaapp.s3.amazonaws.com/static/restart-btn.min.js"></script>
</body>
</html>
