<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1920, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="photo">
    <script id="anima-load-script" src="load.js"></script>
    <script id="anima-hotspots-script" src="hotspots.js"></script>
    <script id="anima-overrides-script" src="overrides.js"></script>
    <script src="https://animaapp.s3.amazonaws.com/js/timeline.js"></script>
    <link rel="stylesheet" href="./static/signup.css">
</head>
<body style="margin: 0;background: #ffffff;">
    <input type="hidden" id="anPageName" name="page" value="signup">
    <div class="container-center-horizontal">
        <div class="signup screen" data-id="21:64">
            <div class="bg-mLm6Nf" data-id="21:65">
                <img class="image-1-4brZKL" data-id="21:66" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" anima-src="https://cdn.animaapp.com/projects/670649d0e3881df73662418a/releases/670accd33327fca10fb360f9/img/image-1.png" alt="image 1">
                <div class="rectangle-1-4brZKL" data-id="21:67"></div>
            </div>
            <div class="rectangle-11-mLm6Nf" data-id="21:68"></div>
            <!-- <div class="rectangle-10-mLm6Nf" data-id="21:69"></div> -->
            <div class="rectangle-5-mLm6Nf rectangle-5" data-id="21:70"></div>
            <div class="rectangle-6-mLm6Nf" data-id="21:71"></div>
            <div class="rectangle-2-mLm6Nf" data-id="21:72"></div>
            <div class="rectangle-4-mLm6Nf" data-id="21:73"></div>
            <div class="rectangle-8-mLm6Nf" data-id="21:74"></div>
            <div class="rectangle-5-gsCbby rectangle-5" data-id="21:75"></div>
            <div class="rectangle-12-mLm6Nf" data-id="21:76"></div>
            <div class="soulz-mLm6Nf" data-id="21:77">Soulz</div>
            <form action="/submitr" method="POST" class="login-form" enctype="multipart/form-data">
                <label for="username"></label>
                <input class="name-mLm6Nf inknutantiqua-normal-black-31px" type="text" name="username" id="username" placeholder="Enter Username" style="outline: none;">
                <input class="phone-no-mLm6Nf inknutantiqua-normal-black-31px" type="text" name="number" id="number" placeholder="Phone No" style="outline: none;">
                <input class="email-id-mLm6Nf inknutantiqua-normal-black-31px" type="text" name="gender" id="gender" placeholder="Gender" style="outline: none;">
                <input class="date-of-birth-mLm6Nf inknutantiqua-normal-black-31px" type="text" name="age" id="age" placeholder="Age" style="outline: none;">
                <input class="enter-password-mLm6Nf inknutantiqua-normal-black-31px" type="text" name="state" id="state" placeholder="State" style="outline: none;">
                <input class="confirm-password-mLm6Nf inknutantiqua-normal-black-31px" type="password" name="password" id="password" placeholder="PASSWORD" style="outline: none;">
                <!-- <input class="add-preferences-mLm6Nf inknutantiqua-normal-black-31px" type="" name="username" id="username" placeholder="ADD prefrences separated by a comma and you must include pet, your educational qualifications, alcoholic preferences, smoking preferences" style="outline: none;"> -->
                <input class="add-preferences-mLm6Nf inknutantiqua-normal-black-31px" name="preferences" id="preferences" style="outline: none;" placeholder="ADD prefrences separated by a comma" multiple>

            <!-- <div class="name-mLm6Nf inknutantiqua-normal-black-31px" data-id="21:78">Name</div> -->
            <!-- <div class="phone-no-mLm6Nf inknutantiqua-normal-black-31px" data-id="21:79">Phone No</div> -->
            <!-- <div class="email-id-mLm6Nf inknutantiqua-normal-black-31px" data-id="21:80">EMAIL ID</div> -->
            <img class="logo-1-mLm6Nf" data-id="21:81" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" anima-src="https://cdn.animaapp.com/projects/670649d0e3881df73662418a/releases/670ae6e6b08f35d86dbec6c4/img/logo-1@2x.png" alt="logo 1">
            <h1 class="title-mLm6Nf" data-id="21:82">CREATE ACCOUNT</h1>
            <input id="photo" type="file" name="photo" placeholder="UPLOAD PHOTO" class="upload-photo-mLm6Nf" data-id="21:84">
            <div class="rectangle-23-mLm6Nf edit-profile-zYNucu" data-id="21:76">UPLOAD A PHOTO</div>
            <!-- <input type="file" id="files" class="hidden"/>
            <label for="files">Select file</label> -->
            <!-- <div class="add-preferences-mLm6Nf" data-id="21:85">ADD PREFERENCES</div> -->
            <!-- <div class="enter-password-mLm6Nf inknutantiqua-normal-black-31px" data-id="21:86">ENTER PASSWORD</div> -->
            <!-- <div class="confirm-password-mLm6Nf inknutantiqua-normal-black-31px" data-id="21:87">CONFIRM PASSWORD</div> -->
            <input type="submit" class="sign-up-mLm6Nf rectangle-10-mLm6Nf" data-id="21:88" value="SIGN UP">/input>
            </form>
        </div>
    </div>
    <script src="launchpad-js/launchpad-banner.js" async></script>
    <script defer src="https://animaapp.s3.amazonaws.com/static/restart-btn.min.js"></script>
</body>
</html>
